node_modules
dist
dist-ssr
*.local
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.log

# Vite / PWA
dev-dist
.netlify

# Large binaries
public/downloads/*.apk
release/
